<mat-sidenav-container class="sidenav" [hasBackdrop]="false">
  <mat-sidenav [opened]="isOpen" [mode]="mode">
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Устройства</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/some">Приложения</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/somesome">Конфигурации</a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="mat-app-background basic-container">
      <app-tab></app-tab>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
