<mat-tab-group>
  <mat-tab label="Устройства">
    <app-data-table (detailedData)="show($event)"></app-data-table>
  </mat-tab>
  <mat-tab label="Активация">
  <br>
    <app-input [placeholder]="placeholder"></app-input>
    <br>
    <app-input [placeholder]="placeholder"></app-input>
    <br>
    <app-button></app-button>
  </mat-tab>

</mat-tab-group>


<div class="device-detail-block"><ul>
    <li>Device:<h4>{{data?.name}}</h4></li>
  <li> Name: {{data?.name || '--/--'}}<br></li>
  <li> Imei: {{data?.imei || '--/--'}}<br></li>
  <li>Статус активации:<h4>{{deviceActivationInfo?.activationStatus || deviceActivationInfo}}</h4></li>
  </ul>
</div>
