@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  margin: 0px;
  align-items: center;
}

body, html {
  width: 100%;
  height: 100%;
}

.basic-container {
  padding: 10px;
}

.login-card {
  vertical-align: middle;
  margin: auto;
  display: flex;
}

.login-title{
  font-size: 22px;
  text-align: center;
}

app-button{
  padding: 10px;
}
.login-card {
  max-width: 400px;
}

.mat-card-content{
  display: flex;
}
/* Structure */
table {
  width: 100%;
}

.data-table-filter-input{
  text-align: right;
}
.mat-form-field {
  font-size: 14px;
}
mat-form-field{
}

.user-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
app-toolbar .toolbar{
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  color: rgba(0, 0, 0, 0.8);
}

mat-sidenav-container{
  height: 100%;
}

.mat-list-base .mat-list-item {
  font-size: 18px;
}

.toolbar-user-name{
  font-size: 14px;
}

.mat-form-field-wrapper{
border: 1px;
}

.mat-cell{
  font-size: 12px;
}

tr.mat-row.ng-star-inserted{
  height: 32px;
}
tr.mat-row.ng-star-inserted:hover{
  background: rgba(0, 0, 0, 0.31);
}

table.mat-table{
  border: 1px solid rgba(0, 0, 0, 0.33);
  border-bottom: none;
}

mat-form-field.data-table-filter{
  float: right;
}

button.refresh-button{
  margin: 10px;
}

mat-paginator{
  border: 1px solid rgba(0, 0, 0, 0.33);
  border-top:none;
}

mat-card.mat-card-device-detail{
  margin: 10px;
}


