
<button class="refresh-button" mat-raised-button color="primary" (click)="loadDevices()">Обновить</button>
<mat-form-field class="data-table-filter">
  <label>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </label>
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="uuid">
    <th mat-header-cell *matHeaderCellDef mat-sort-header > UUID </th>
    <td mat-cell *matCellDef="let element"> {{element.uuid}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="imei">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> imei </th>
    <td mat-cell *matCellDef="let element"> {{element.imei}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showDetail(row);"></tr>


</table>
<mat-paginator [pageSizeOptions]="[10, 15, 25]"></mat-paginator>
