<mat-form-field>
  {{testkeyupvalue}}
  <label>
    <input matInput (keyup)="applyFilter($event.target.value);testkeyaup($event.target.value)" placeholder="Filter">
  </label>
</mat-form-field>

<table mat-table [dataSource]="devices" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="uuid">
    <th mat-header-cell *matHeaderCellDef> uuid </th>
    <td mat-cell *matCellDef="let element"> {{element.uuid}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="imei">
    <th mat-header-cell *matHeaderCellDef> imei </th>
    <td mat-cell *matCellDef="let element"> {{element.imei}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
