<div>
  <mat-label><strong>Settings:</strong></mat-label>
  <button mat-raised-button color="primary" class="load-settings-button" (click)="uploadSettingsFile()">Загрузить настройки</button>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> project </th>
      <td mat-cell *matCellDef="let element"> {{element.project}} </td>
    </ng-container>

  
    <ng-container matColumnDef="version">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> version </th>
      <td mat-cell *matCellDef="let element"> {{element.version}} </td>
    </ng-container>

    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> size </th>
      <td mat-cell *matCellDef="let element"> {{element.size}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showDetail(row);"></tr>


  </table>
  <mat-paginator [pageSizeOptions]="[10, 15, 25]"></mat-paginator>
</div>

