

<mat-form-field>
  <mat-label>Выберите проект</mat-label>
  <mat-select [(value)]="selected">
    <mat-option value={{project}} *ngFor="let project of projects" (click)="getData(selected)">
      {{project}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div *ngIf="apklist">
  <mat-label><strong>APK:</strong></mat-label>
<div *ngFor="let apk of apklist | async">
  <div>{{apk.project}}</div>
  <div>{{apk.version}}</div>
  <div>{{apk.size}}</div>
  <div>{{apk.date}}</div>
  <mat-divider></mat-divider>
</div>
</div>
<div *ngIf="settingslist">
<mat-label><strong>Settings:</strong></mat-label>
<div *ngFor="let settings of settingslist | async">
  <div>{{settings.project}}</div>
  <div>{{settings.version}}</div>
  <div>{{settings.size}}</div>
  <div>{{settings.date}}</div>
  <mat-divider></mat-divider>
</div>


