<mat-form-field>
  <mat-label>Выберите проект</mat-label>
  <mat-select [(value)]="selected">
    <mat-option value={{project}} *ngFor="let project of projects" (click)="getData(selected)">
      {{project}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div *ngIf="apklist">
  <mat-label><strong>APK:</strong></mat-label>
  <div>
  <app-apk-table [tableData]="apklist"></app-apk-table>
  </div>
</div>
<div *ngIf="settingslist">
  <mat-label><strong>Settings:</strong></mat-label>
  <app-settings-table [tableData]="settingslist"></app-settings-table>
</div>


